@import "../../styles/variables.scss";

.singleLectureContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh);
    margin-bottom: 0;


    .singleLectureWrapper {
        max-width: 800px;
        padding-bottom: 64px;
        margin-bottom: 18px;

        .singleLectureTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }

    .audioDiv {
        width: 100%; // Ensure it spans the entire width
        position: fixed; // Changed from absolute to fixed
        bottom: 0;
        left: 0;

        .audioPlayer {
            background-color: $secondary-color;
            position: sticky;
            top: 0;

            border-radius: 10px;



            div {
                color: $white-gray;
            }
        }
    }



    .popoverBtn {
        cursor: pointer;
        padding: 2px;
        margin: 2px;

        &:hover {
            // Notice the & before :hover
            text-decoration: underline;
        }

    }

    .translatedStory {
        max-width: 700px;
        margin-top: 32px;
    }
}